.window {
  min-width: 260px;
  max-width: 550px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: white;
  color: black;
  border-radius: 8px;
  text-align: center;
  padding: 0.8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.window label {
  font-size: 1.1rem;
  padding: 0;
}

small {
  font-size: 0.9rem;
}

.buttons button {
  background: none;
  border: none;
  margin: 0.4rem 0.2rem 0.5rem 0.2rem;
}

.window img {
  width: 1rem;
  margin-bottom: 0.5rem;
}

.window__action {
  border: none;
  border-radius: 6px;
  width: min-content;
  padding: 0.4rem 1rem;
  color: white;
  font-size: 1rem;
  margin-top: 0.7rem;
}

button {
  cursor: pointer;
}

.xButton,
.changeButton {
  background: none;
  border: none;
}

.xButton {
  justify-self: right;
  align-self: flex-end;
  transform: scale(1.6);
  margin-right: -1.5rem;
}

.changeButton {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  transform: scale(2);
  transition: all 0.2s ease-in-out;
}

.changeButton:hover {
  transform: scale(1.8);
}

.expansesContainer {
  position: relative;
}
