.window {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: white;
  color: black;
  border-radius: 8px;
  text-align: center;
  padding: 0.6rem 0.8rem;
}

.window label {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.window button {
  background: none;
  border: none;
}

.window__action {
  font-size: 1rem;
  border-radius: 6px;
  color: white;
  width: min-content;
  padding: 0.4rem 1rem;
}
